export CONFIG=assert
export ARCH_NAME=grayskull
export OPERATION_HISTORY_CSV=~/operations.csv
export TT_METAL_WATCHER=2
export TT_METAL_WATCHER_APPEND=1
export TT_METAL_WATCHER_DUMP_ALL=1
export SILENT=0
export TTNN_ENABLE_MODEL_CACHE=True
#export TTNN_ENABLE_FAST_RUNTIME_MODE=True
